@{
    ViewBag.Title = "Find";
}



<h2>Find your housing here</h2>
<img src="https://images.app.goo.gl/KhQyxoAwFwd93TMt6"
     alt="student housing picture" />

<p>
    Subloo was started by a group of three University of Waterloo students who were frustrated with the tedious process of trying to find a place
    to live every other four months when heading back to school after their co-op term. We joined local Facebook groups, messaged people, received no responses
    and if we did, we were told several days later that our dream budget-friendly place was already sold to someone else. At Subloo, we want
    to make the process of selling and buying resential properties less stressful for students. To get started, create a free account...
</p>

<img src="~/Views/Home/Sublet_listings.png" alt="hippo" />