@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to SubLoo!</h1>
    <p class="lead">SubLoo is the solution to all UWaterloo Student's Housing problems!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="search_button"> 
    <input class="search_button" type="text" placeholder="Search by name..." />

</div>
<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            SubLoo is a comprehensive interactive tool for students in the Waterloo Region to find sublets and post listings.
            Create a free account to get access to recent resedential listings within your budget and connect with students who are
            interested in buying a place.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Looking for a place? </h2>
        <p>Begin your search here!</p>
        <p><a class="btn btn-default" href="Find"> Find your home! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Need help? Conatct Us!</h2>
        <p>testinggg</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>